a.headlink:link { 
color:white; 
text-decoration:none; 
} 
a.headlink:visited { 
color:white; 
text-decoration:none; 
} 
a.headlink:hover { 
color:white; 
text-decoration:none;
} 
a.headlink,td.news:active { 
color:#FFFFFF; 
text-decoration:none; 
} 
a.name,a.news:link { 
color:black; 
text-decoration:none; 
} 
a.name,a.news:visited { 
color:black; 
text-decoration:none; 
} 
a.name,a.news:hover { 
color:blue; 
text-decoration:none;
} 
a.name,a.news:active { 
color:black; 
text-decoration:none; 
} 